<html>
  <body>
    <h1>Squirrel Sightings</h1>
    <h4>(Click on the unique squirrel ID to see details and edit)</h4>
    <a href='/sightings/add/'>Add a New Squirrel</a><br>
    <a href='/sightings/stats/'>Check Sighting Statistics</a><br>
    <a href='/map/'>Map the Sightings</a><br>
    {% if sightings %}
      <ul>
	{% for sighting in sightings %}
	  <li><a href='/sightings/{{ sighting.uid }}'>{{ sighting.uid }}</a></li>
	{% endfor %}
      </ul>
    {% else %}
      <p>No sightings are available.</p>
    {% endif %}
  </body>
</html>
