<!DOCTYPE html>
<html lang = "en">
  <body>
    <h1>Sighting Statistics</h1>
    <a href='/sightings/'>Back</a>
    <br>

    <h3>The total number of squirrels: {{totalnumber}}</h3>

    <h3>Latitude</h3>
    <li>Min: {{stats_lat.min_lat}}</li>
    <li>Max: {{stats_lat.max_lat}}</li>
    <li>Average: {{stats_lat.avg_lat}}</li>
    <br>

    <h3>Longitude</h3>
    <li>Min: {{stats_long.min_long}}</li>
    <li>Max: {{stats_long.max_long}}</li>
    <li>Average: {{stats_long.avg_long}}</li>
    <br>    
		
    <h3>Age</h3>
    <li>Adult: {{adult}}% of total numbers of squirrels observed</li>
    <li>Juvenile: {{juvenile}}% of total numbers of squirrels observed</li>
    <br>    

    <h3>Primary Fur Color</h3>
    <li>Gray: {{gray}}% of total numbers of squirrels observed</li>
    <li>Black: {{black}}% of total numbers of squirrels observed</li>
    <li>Cinnamon: {{cinnamon}}% of total numbers of squirrels observed</li>
    <br>

    <h3>Running</h3>
    <li>When spotted, {{running}} squirrels are running.</li>
    <li>When spotted, {{not_running}} squirrels are not running.</li>
    <br>

  </body>
</html>

