<!DOCTYPE html>
<html lang = "en">
	<head>
	<title>General Statistics</title>
	</head>

	<body>
		<h1>General Statistics</h4>
		<h2>The total number of squirrels: {{totalnumber}}</h2>
		<div class="div-col columns column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em;">
		</div>
		<h2>Latitude</h2>
		<div class="div-col columns column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em;">
			<ul>
				<li>Min Latitude : {{stats_lat.min_lat}}</li>
				<li>Max Latitude : {{stats_lat.max_lat}}</li>
				<li>Average Latitude : {{stats_lat.avg_lat}}</li>
			</ul>	
		</div>

		<h2>Longitude</h2>
		<div class="div-col columns column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em;">
			<ul>
				<li>Min Longitude : {{stats_long.min_long}}</li>
				<li>Max Longitude : {{stats_long.max_long}}</li>
				<li>Average Longitude : {{stats_long.avg_long}}</li>
			</ul>	
		</div>

		<h2>Age</h2>
		<div class="div-col columns column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em;">
			<ul>
				<li>Adult : Adult squirrels are{{adult}}% of total numbers of squirrels observed.</li>
				<li>Juvenile : Juvenile squirrels are {{juvenile}}% of total numbers of squirrels observed.</li>
			</ul>	
		</div>

		<h2>Primary Fur Color</h2>
		<div class="div-col columns column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em;">
			<ul>
				<li> {{gray}}% of total numbers of squirrels observed have gray fur.</li>
				<li> {{black}}% of total numbers of squirrels observed have black fur.</li>
				<li> {{cinnamon}}% of total numbers of squirrels observed have cinnamon fur.</li>
			</ul>
		</div>


		<h2>Running? </h2>
		<div class="div-col columns column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em;">
			<ul>
				<li>When being spot, {{running}} squirrels are running.</li>
				<li>When being spot, {{not_running}} squirrels are not running</li>
			</ul>	
		</div>


	</body>
</html>

